* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
.center {
  background-image: url('../img/banner_header.jpg');
  width: 100%;
  background-size: cover;
	background-position: center;
  min-height: 800px;
}
